.secondary-btn{
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: #150941;
    border-radius: 32px;
    padding: 8px 16px 8px 16px;
    border: none;
    color: #F80040;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 0 16px #F80040;
    transition: all 0.3s ease-in-out;
}
.secondary-btn:hover{
    box-shadow: 0 0 32px #F80040;
}