.nav{
  background-color: #150941;
  display: flex;
  justify-content: right;
  padding: 16px 24px;
  box-shadow: 0 0 16px #150941;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 9999;
}

.nav a{
  margin-left: 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
}

.nav a:link {
  color: #F80040;
}

.nav a:visited {
  color: #F80040;
}

.nav a:hover {
color: #F80040;
box-shadow: 0 16px 8px -6px #F80040;
}

.nav a:active {
color: #F80040;
box-shadow: 0 16px 8px -6px #F80040;
}