.skills-section {
  margin: auto;
  width: 50%;
  margin-bottom: 50px; 
}

.skills-section h4 {
  color: white;
  margin: 24px auto;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  margin: 4px;
  transition: transform 0.2s ease-in-out;
}

.skill:hover {
  transform: scale(1.1);
}