.skills-section {
  margin: auto;
  width: 50%;
  margin-bottom: 50px; 
}

.skills-section h4 {
  color: white;
  margin: 24px auto;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  margin: 4px;
  transition: transform 0.2s ease-in-out;
}

.skill:hover {
  transform: scale(1.1);
}
/* .skill{
  width: 360px;
  display: flex;
  justify-content: left;
  margin: 60px 16px;
  border-radius: 16px;
  background-color: #F80040;
  box-shadow: 0 0 0px #F80040;
  padding: 12px 8px 0px 8px;
  transition: all 0.3s ease-in-out;
}

.skill:hover{
  box-shadow: 0 0 32px #F80040;
}

.img-skill{
  margin-top:-52px;
  margin-left: 32px;
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #150941;
  padding: 16px;
  border-radius: 50px;
  box-shadow: 0 0 0px #F80040;
  transition: all 0.3s ease-in-out;
  }

.skill:hover .img-skill{
  box-shadow: 0 0 32px #F80040;
  width: 50px;
  height: 50px;
  margin-top:-52px;
  margin-bottom: -10px;
  margin-left: 27px;
}

.bar{
  background-color: #150941;
  height: 0px;
  width: 80px;
  margin-left: 27px;
  border-radius: 16px 16px 0px 0px;
  transition: all 0.3s ease-in-out;
}

.skill:hover .bar{
  height: 10px;
  margin-top: -10px;
}

.skill-name{
  font-size: 21px;
  margin: 8px 0px 0px 0px;
  padding: 0px 4px;
  color: #150941;
}

.skill-description{
  text-align: left;
  padding: 8px 12px;
  margin: 8px 0px 16px 0px;
  color: #150941;
  background-color: white;
  border-radius: 8px;
  font-weight: 500;
} */